<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/> -->

    <title>BiBi Lunetterie - Lunettes pour lui</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/bibilnpageacceuil.css') }}">
    <script type ="text/javascript" src="FichierCodeJava.js"> </script>
</head>

<body>

    <div class = "entete">
        <h1 id="nomdusite"> <strong> Bibi Lunetterie </strong> </h1>
    </div>

    <div class = "barredenavigation">
        <a href="/bibilnpageaccueil">Accueil</a>
        <a href="/bibilncatalogue">Catalogue</a>
        <a href="/bibilnlunettespourlui">Lunettes pour lui</a>
        <a href="/bibilnlunettespourelle">Lunettes pour elle</a>
        <a href="/bibilnapropos">À propos</a>
        <a class="liensespaceclient" href="/bibilnseconnecter">Se connecter</a>
        <a class="liensespaceclient" href="/bibilnsinscrire">S'inscrire</a>
    </div>

</body>

</html>
