<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/> -->

    <title>BiBi Lunetterie - Lunettes pour elle</title>

    <link rel="stylesheet" type="text/css" href="bibilnpageacceuil.css"/>
    <script type ="text/javascript" src="FichierCodeJava.js"> </script>
</head>

<body>

    <div class = "entete">
        <h1 id="nomdusite"> <strong> Bibi Lunetterie </strong> </h1>
    </div>

    <div class = "barredenavigation">
        <a href="bibilnpageaccueil.html">Accueil</a>
        <a href="bibilncatalogue.html">Catalogue</a>
        <a href="bibilnlunettespourlui.html">Lunettes pour lui</a>
        <a href="bibilnlunettespourelle.html">Lunettes pour elle</a>
        <a href="bibilnapropos.html">À propos</a>
        <a class="liensespaceclient" href="bibilnseconnecter.html">Se connecter</a>
        <a class="liensespaceclient" href="bibilnsinscrire.html">S'inscrire</a>
    </div>

    <div>
        
    </div>

</body>

</html>
