<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/> -->

    <title>BiBi Lunetterie</title>

    <link rel="stylesheet" type="text/css" href="bibilnpageacceuil.css"/>
  
    <script type ="text/javascript" src="FichierCodeJava.js"> </script>
</head>

<body>

    <div class = "entete">
        <h1 id="nomdusite"> <strong> Bibi Lunetterie </strong> </h1>
    </div>

    <div class ="barredenavigation">
        <a href="bibilnpageacceuil.html">Accueil</a>
        <a href="bibilncatalogue.html">Catalogue</a>
        <a href="bibilnlunettespourlui.html">Lunettes pour lui</a>
        <a href="bibilnlunettespourelle.html">Lunettes pour elle</a>
        <a href="bibilnapropos.html">À propos</a>
        <a class="liensespaceclient" href="bibilnseconnecter.html">Se connecter</a>
        <a class="liensespaceclient" href="bibilnsinscrire.html">S'inscrire</a>
    </div>

    <div id="inscription">   
      <h1>Inscrivez-vous </h1>

      <form action="/" method="post"> 
      <!-- Ligne pour ajouter le code JS permettant de dire quelle action prendre quand l'inscription se déroule vis-à-vis des boutons-->
          
      <div>
          <label>
          Prénom <span class="req">*</span>
          </label>
          <input id="prenom" type="text" required autocomplete="off" />
      </div>
        
      <div>
          <label>
          Nom <span class="req">*</span>
          </label>
          <input id="nom" type="text"required autocomplete="off"/>
      </div>

      <div>
          <label>
          Adresse courriel <span class="req">*</span>
          </label>
          <input id="courriel" type="email"required autocomplete="off"/>
      </div>

      <div>
          <label>
          Adresse <span class="req">*</span>
          </label>
          <input id="adresse" type="text"required autocomplete="off"/>
      </div>

      <div>
          <label>
          Carte de crédit <span class="req">*</span>
          </label>
          <input id="cartedecredit" type="number"required autocomplete="off"/>
      </div>
          
      <div>
          <label>
          Mot de passe <span class="req">*</span>
          </label>
          <input id="motdepasse" type="password"required autocomplete="off"/>
      </div>
          
      <button id="sinscrire" type="submit"/> S'inscrire </button>
          
      </form>

    </div>

</body>

</html>


