<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/> -->

    <title>BiBi Lunetterie</title>

    <link rel="stylesheet" type="text/css" href="CSS/bibilnsinscrire.css"/>
    <script type ="text/javascript" src="FichierCodeJava.js"> </script>
</head>

<body>

    <div class = "entete">
        <h1 id="nomdusite"> <strong> Bibi Lunetterie </strong> </h1>
    </div>

    <div class ="barredenavigation">
        <a href="bibilnpageaccueil.html">Accueil</a>
        <a href="bibilncatalogue.html">Catalogue</a>
        <a href="bibilnlunettespourlui.html">Lunettes pour lui</a>
        <a href="bibilnlunettespourelle.html">Lunettes pour elle</a>
        <a href="bibilnapropos.html">À propos</a>
        <a class="liensespaceclient" href="bibilnseconnecter.html">Se connecter</a>
        <a class="liensespaceclient" href="bibilnsinscrire.html">S'inscrire</a>
    </div>

    <div class="form">

      <ul class="tab-group">
        <li class="tab active"><a href="#inscription"> S'inscrire </a></li>
        <li class="tab"><a href="#connection"> Se connecter </a></li>
      </ul>

      <div class="tab-content">
        <div id="inscription">
          <h1>Inscriver </h1>

          <form action="/" method="post">

          <div class="top-row">
            <div class="field-wrap">
              <label>
                Prénom <span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" />
            </div>

            <div class="field-wrap">
              <label>
                Nom <span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
          </div>

          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="courriel"required autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <label>
              Mot de passe <span class="req">*</span>
            </label>
            <input type="motdepasse"required autocomplete="off"/>
          </div>

          <button type="submit" class="button button-block"/>Get Started</button>

          </form>

        </div>

        <div id="connection">
          <h1> Bonjour </h1>

          <form action="/" method="post">

            <div class="field-wrap">
            <label>
              Adresse courriel <span class="req">*</span>
            </label>
            <input type="courriel"required autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <label>
              Mot de passe <span class="req">*</span>
            </label>
            <input type="motdepasse"required autocomplete="off"/>
          </div>

          <p class="forgot"><a href="#"> Mot de passe oublié ?</a></p>

          <button class="button button-block"/> Se connecter </button>

          </form>

        </div>

      </div><!-- tab-content -->

</div> <!-- /form -->

</body>

</html>
