<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BiBi lunette</title>
    <link rel="stylesheet" type="text/css" href="style.css">

    <script type ="text/javascript" src="FichierCodeJava.js"></script>
</head>

<body>
        <div class = "topnav">
        <a class="active" href="#Aceuille">Aceuille</a>
        <a href="#Catalogue">Catalogue</a>
        <a href="#Lunette pour lui">Lunette pour lui</a>
        <a href="#Lunette pour elle">Lunette pour elle</a>
        <a href="#À propos">À propos</a>
        <a class="totheleft" href="#Connextion">Connextion</a>
        <a class="totheleft" href="#Inscription">Inscription</a>
        </div>
</body>
</body>

</html>